<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xchange</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/viewFile.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/header.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/viewFile.css') }}"
    />
  </head>
  <body>
    {% include 'header.html' %}

    <div class="file-view">
      <div class="file-view__wrapper">
        <header class="file-view__header">
          <a href="{{ url_for('user_index') }}" class="file-view__back-button"
            >← back</a
          >
          <p class="file-view__title">{{ file_data[1] }}</p>
          <p class="file-view__date">{{ file_data[2].strftime('%d %b %Y') }}</p>
        </header>
        <main class="file-view__content">
          <div class="file-view__content-text">{{ file_content }}</div>
        </main>
      </div>
    </div>
  </body>
</html>
